body{
    margin: 0%;
    padding: 0%;
    background-image: url(../images/1759072.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
}